:root {
  --white: oklch(100% 3.5594404092893915e-8 106.37411396324427);
  --violet: oklch(56.2% 0.26 281.81);
  --black-blue: oklch(18.04% 0.03 268.34);
  --black: oklch(22.44% 0.003 17.39);
  --dark-violet: oklch(26.97% 0.088 284.22);
  --gray: oklch(61.42% 0.036 291.03);
  --pink: oklch(58.9% 0.253 2.35);

  --background-0: var(--white);
  --text-color-0: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-0: var(--black);
    --text-color-0: var(--white);
  }
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  background-color: var(--background-0);
  color: var(--text-color-0);
}

a {
  color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: calc(1280px + 20px + 20px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
}

.nav__link_active {
  color: var(--pink);
}


.header__contact {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--pink);
  text-decoration: none;
  border: 1px solid var(--pink);
  border-radius: 5px;
}
