.card__count {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: var(--dark-violet);
}

.card__count-pale {
  color: var(--gray);
}

.card__card-unite {
  display: flex;
  align-items: baseline;
  margin-block-end: 5px;
}

.card__rate {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: var(--dark-violet);
}

.card__description {
  max-width: 201px;
  margin-block-start: 0;
  margin-block-end: 34px;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray);
}

.card__list {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.card__item {
  font-size: 16px;
  line-height: 20px;
  color: var(--gray);
  background-image: url("/public/check-item.svg");
  background-repeat: no-repeat;
}
