.hero {
  display: flex;
  min-height: 660px;
  padding-top: 100px;
  margin-bottom: 90px;
  background-image: url("/man-sitting@1x.png");
  background-repeat: no-repeat;
  background-position: top 0  right 0;
  /* background-size: 696px 660px; */
}

.hero__title {
  margin-bottom: 25px;
}

.hero__title_pink {
  color: var(--pink);
}

.hero__desc {
  max-width: 520px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 42px;
}

.hero__content {
  max-width: 630px;
}

@media  {

}
