.nav__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav__link {
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.nav__link_active {
  color: var(--pink);
}

.nav__link_white {
  color: var(--white);
}

@media (max-width: 959px) {
  .nav__link {
    font-size: 16px;
    line-height: 16px;
  }
}
