-
  var cards = [
    {
      price: 50,
      plan: "Base",
      isActive: false,
    },
    {
      price: 100,
      plan: "Pro",
      isActive: true,
    },
    {
      price: 200,
      plan: "Enterprise",
      isActive: false,
    }
  ]


each card in cards
  li.pricing-card(class=card.isActive ? 'pricing-card_active' : '')
    span.pricing-card__popular Most popular
    .pricing-card__amount
      p.pricing-card__count $#{card.price}
      span.pricing-card__month /month
    p.pricing-card__rate #{card.plan}
    p.pricing-card__description For most businesses that want to otpimize web queries
    ul.pricing-card__list
      li.pricing-card__item All limited links
      li.pricing-card__item Own analytics platform
      li.pricing-card__item Chat support
      li.pricing-card__item Optimize hashtags
      li.pricing-card__item Unlimited users
    button.button.button_pink.button_rounded.button_small(class=!card.isActive ? 'button_ghost' : '') Choose plan
