.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 230px;
  padding-top: 90px;
  color: var(--gray);
}

.pricing-card_active {
  min-width: 292px;
  padding-block-start: 20px;
  padding-block-end: 43px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  color: var(--white);
  background-color: var(--violet);
  background-image: url("/card-pattern.png");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  border-radius: 26px;
  box-shadow: 0 42px 34px rgb(82 67 194 / 29.6%);
}

.pricing-card_active .pricing-card__popular {
  display: block;
}

.pricing-card__amount {
  display: flex;
  align-items: baseline;
  margin-block-end: 5px;
}

.pricing-card__count {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: var(--dark-violet);
}

.pricing-card_active .pricing-card__month {
  color: var(--white);
}

.pricing-card__popular {
  display: none;
  padding: 7px 13px;
  margin-inline-start: auto;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: var(--pink);
  text-align: center;
  letter-spacing: 0.8333px;
  background-color: var(--blue);
  border-radius: 13.5px;
}

.pricing-card__card-unite {
  display: flex;
  align-items: baseline;
  margin-block-end: 5px;
}

.pricing-card__rate {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: var(--dark-violet);
}

.pricing-card__description {
  max-width: 201px;
  margin-block-start: 0;
  margin-block-end: 34px;
  font-size: 16px;
  line-height: 20px;
}

.pricing-card__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-block-end: 30px;
}

.pricing-card__item {
  padding-inline-start: 30px;
  font-size: 16px;
  line-height: 20px;
  background-image: url("/check-item.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pricing-card_active .pricing-card__item {
  background-image: url("/check-item-active.svg");
}

.pricing-card_active .pricing-card__count {
  color: var(--white);
}

.pricing-card_active .pricing-card__rate {
  color: var(--white);
}
