.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 120px;
  padding-block-end: 105px;
  background-color: var(--light-gray);
}

.reviews__slider-container {
  transform: translateY(-42px);
}

.reviews__slider-container .swiper {
  height: 278px;
}

.reviews__slider-container .swiper-wrapper {
  padding-top: 42px;
}

.reviews__slider {
  display: flex;
  column-gap: 40px;
}

.reviews__container {
  display: grid;
  grid-template-columns: auto 522px;
  column-gap: 92px;
}

.reviews__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  color: var(--black-blue);
  letter-spacing: -0.01em;
}

.reviews__text {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  line-height: 180%;
  color: var(--black-blue);
  opacity: 0.6;
}

.reviews__nav {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.reviews__nav-button {
  width: 68px;
  height: 68px;
  cursor: pointer;
  background-color: var(--white);
  background-image: url("/arrow.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  border: none;
  border-radius: 50%;
}

.reviews__nav-button.disabled {
  opacity: 0.5;
}

.reviews__next {
  transform: rotate(180deg);
}
