.clients__title {
  margin-block-end: 10px;
  margin-block-start: 0;
  color: var(--pink);
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.clients__text {
  margin: 0 auto 50px;
  max-width: 630px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.5px;
}

.clients__logo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
